/* html, body {
  margin: 0;
  padding: 0;
  border: 0;
} */
body {
  background-color: black;
}

.App {
  font-family: sans-serif;
  text-align: center;
}


.container {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-around;
  
}

.item {
  /*flex: 0 75%;*/
  width: 25%;
  /* flex: 1 1 auto; */
  /* flex-wrap: wrap; */
  /*flex-grow: 0;*/
  height: 100px;
  margin-bottom: 2%; 
  /* 3 columns (100-32*3)/2 */ 
  /* 5 columns (100-32*5)/2 */ 
}
@media (min-width: 780px) { /*breakpoint*/
  .container-wrapper {
    margin: auto;
    width: 65%;
    
  }
  .item {
    flex: 0 20%;
    height: 100px;
    margin-bottom: 2%; 
    /* 3 columns (100-32*3)/2 */ 
    /* 5 columns (100-32*5)/2 */ 
  }
}
.item a:hover i { color: #FF0000; }
.item a:hover span { color: #FF0000; }
.item i {
  display: block;
  margin: 0 auto 10px auto;
  width: 32px;
    height: 32px;
    margin: 10px auto 0;
    line-height: 32px;
    text-align: center;
    font-size: 20px;
    color: #444444;
  margin-top:0;
  padding-top:5px;
  }
  .item a{
    text-decoration:none;
    width:100%;
    height:100%;
    display:block;
    margin:0;
    padding:0;
    padding-top:5px;
    /*border: 1px solid rgb(0, 0, 0);*/
  }

  .item a span{
    color:black;
    font-size:8px;
    padding:5px 5px 5px 5px;
    display:block;
    text-transform:uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family:'Josefin Sans';
    letter-spacing:0.5px;
  }

.bookmark-box a:hover i { color: #FF0000; }
.bookmark-box a:hover span { color: #FF0000; }
.bookmark-box {
  /* text-align: center;
  width: 31.9%;
  margin-bottom: 3px!important;
  background-color: #fff; */
  width: 100px;
  /*flex: 1 1 auto;*/
  border: 1px solid rgb(0, 0, 0);
  /* display: inline-block;
  font-size: 10px;
  padding:0; */
}
.bookmark-box i {
  display: block;
  margin: 0 auto 10px auto;
  width: 32px;
    height: 32px;
    margin: 10px auto 0;
    line-height: 32px;
    text-align: center;
    font-size: 20px;
    color: #444444;
  margin-top:0;
  padding-top:5px;
  }
  .bookmark-box a{
  text-decoration:none;
  width:100%;
  height:100%;
  display:block;
  margin:0;
  padding:0;
  }

  .bookmark-box a span{
  color:black;
  font-size:8px;
  padding:5px 10px 10px 10px;
  display:block;
  text-transform:uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family:'Josefin Sans';
  letter-spacing:0.8px;
  }


/* 
 */

/* a:link { color: #0645ad; text-decoration: none; }
a:visited { color:#0b0080; text-decoration: none; }
a:hover { color:#91ac48; text-decoration: underline; }
a:active { color:#7476b4; text-decoration: underline; } */


.sidebar-social {
  margin: 0;
  padding: 0;
}

.sidebar-social ul {
  margin: 0;
  padding: 5px;
}

.sidebar-social li {
  text-align: center;
  width: 31.9%;
  margin-bottom: 3px!important;
  background-color: #fff;
  border: 1px solid #eee;
  display: inline-block;
  font-size: 10px;
  padding:0;
}

.sidebar-social i {
display: block;
margin: 0 auto 10px auto;
width: 32px;
  height: 32px;
  margin: 10px auto 0;
  line-height: 32px;
  text-align: center;
  font-size: 20px;
  color: #444444;
margin-top:0;
padding-top:5px;
}
.sidebar-social a{
text-decoration:none;
width:100%;
height:100%;
display:block;
margin:0;
padding:0;
}

.sidebar-social a span{
color:black;
font-size:10px;
padding:5px 0 10px 0;
display:block;
text-transform:uppercase;
font-family:'Josefin Sans';
letter-spacing:1px;
}

.sidebar-social a:hover i.fa-facebook { color: #FF0000; }
.sidebar-social a:hover i.fa-twitter { color:#00ABE3 }
.sidebar-social a:hover i.fa-instagram { color:#FFD400 }
.sidebar-social a:hover i.fa-pinterest { color:#FF0000 }
.sidebar-social a:hover i.fa-google-plus { color:#cb2027 }
.sidebar-social a:hover i.fa-flickr { color:#FF57AE }
.sidebar-social a:hover i.fa-500px { color:#00ABE3 }
.sidebar-social a:hover i.fa-youtube { color:#FF1F25 }
.sidebar-social a:hover i.fa-behance { color:#FF57AE }